.sidebar-controlers {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  height: 40px;

  &__button {
    font-size: 14px;
    color: #777;
    border: 1px solid #ddd;
    cursor: pointer;

    &--active {
      border-width: 0;
      background-color: #fff;
    }
  }
}
