.message-form {
  position: relative;
  height: inherit;
  background-color: #d7dfe7;

  &__detail {
    height: 26%;
    background-color: #becbd9;
  }

  &__messages {
    height: 60%;
    overflow-y: auto;
    scroll-behavior: smooth;
  }

  &__form {
    position: absolute;
    bottom: 30px;
    display: grid;
    grid-template-columns: 9fr 3fr;
    gap: 10px;
    height: 40px;
    width: 100%;
    padding: 0 20px 0 10px;
  }

  &__input {
    height: 100%;
    padding-left: 10px;
    font-size: 14px;
    border-width: 0;
    border-radius: 5px;
  }

  &__button {
    height: 100%;
    color: #fff;
    font-size: 13px;
    background-color: #428bca;
    border-radius: 5px;
    cursor: pointer;
  }
}
