.sidebar {
  position: relative;
  height: 100%;
  background-color: #fff;

  &__chats {
    height: 83%;
  }

  &__search {
    position: absolute;
    left: 50%;
    bottom: 30px;
    padding-left: 10px;
    height: 40px;
    width: 80%;
    font-size: 14px;
    transform: translateX(-50%);
  }
}
