.sidebar {
  position: relative;
  height: 100%;
  background-color: #fff;

  &__controlers {
    height: 40px;
    margin-bottom: 15px;
  }

  &__chats {
    height: calc(100% - 130px);
    overflow-y: auto;
  }

  &__search {
    position: absolute;
    left: 50%;
    bottom: 30px;
    padding-left: 10px;
    height: 40px;
    width: 80%;
    font-size: 14px;
    transform: translateX(-50%);
  }

  // @media (max-width: 1020px) {
  //   transform: translateX(100%);
  // }
}
