.messager {
  display: flex;
  height: 100%;

  &__chat-wrp {
    height: inherit;
    width: calc(100% - 260px);
    background-color: khaki;
  }

  &__sidebar-wrp {
    width: 260px;
    height: 100%;
  }
}
