.page {
  height: 100vh;

  &__head {
    height: 10vh;
    padding-left: 80px;
  }

  &__title {
    font-size: 33px;
    color: #333333;
    line-height: 12vh;
  }

  &__body {
    height: 90vh;
    padding: 20px 80px 50px;
    background-color: #586670;
  }

  @media (max-width: 800px) {
    &__body {
      height: 90vh;
      padding: 20px 10px 20px;
      background-color: #586670;
    }
  }
}
